@at-root {
    @font-face {
        font-family: itec-opendyslexic;
        font-weight: 100;

        src: url('~@Asset/fonts/opendyslexic_regular.eot');
        src: url('~@Asset/fonts/opendyslexic_regular.eot#iefix') format('embedded-opentype'),
             url('~@Asset/fonts/opendyslexic_regular.woff') format('woff'),
             url('~@Asset/fonts/opendyslexic_regular.ttf') format('truetype'),
             url('~@Asset/fonts/opendyslexic_regular.svg#open_sanslight') format('svg');
    }

    @font-face {
        font-family: itec-opendyslexic;
        font-weight: 300;

        src: url('~@Asset/fonts/opendyslexic_regular.eot');
        src: url('~@Asset/fonts/opendyslexic_regular.eot#iefix') format('embedded-opentype'),
             url('~@Asset/fonts/opendyslexic_regular.woff') format('woff'),
             url('~@Asset/fonts/opendyslexic_regular.ttf') format('truetype'),
             url('~@Asset/fonts/opendyslexic_regular.svg#open_sansregular') format('svg');
    }

    @font-face {
        font-family: itec-opendyslexic;
        font-weight: 400;

        src: url('~@Asset/fonts/opendyslexic_bold.eot');
        src: url('~@Asset/fonts/opendyslexic_bold.eot#iefix') format('embedded-opentype'),
             url('~@Asset/fonts/opendyslexic_bold.woff') format('woff'),
             url('~@Asset/fonts/opendyslexic_bold.ttf') format('truetype'),
             url('~@Asset/fonts/opendyslexic_bold.svg#open_sansbold') format('svg');
    }
}

& {
    font-family: itec-opendyslexic;
}

p,
.read-aloud-text,
.read-aloud-text > * {
    line-height: 1.8em;
}
