$color-primary: adjust-color(#0a565e, $lightness: 0%);
$color-primary-dark: adjust-color($color-primary, $lightness: -10%);
$color-primary-darker: adjust-color($color-primary, $lightness: -5%);
$color-primary-lighter: adjust-color($color-primary, $lightness: 10%);
$color-primary-light: adjust-color($color-primary, $lightness: 20%);
$color-primary-text: $color-background;

$color-info: adjust-color(#0aa1a4, $lightness: 0%);
$color-info-dark: adjust-color($color-info, $lightness: -10%);
$color-info-darker: adjust-color($color-info, $lightness: -5%);
$color-info-lighter: adjust-color($color-info, $lightness: 10%);
$color-info-light: adjust-color($color-info, $lightness: 20%);
$color-info-text: $color-primary-text;

$color-success: adjust-color(#105d56, $lightness: 10%);
$color-success-dark: adjust-color($color-success, $lightness: -10%);
$color-success-darker: adjust-color($color-success, $lightness: -5%);
$color-success-lighter: adjust-color($color-success, $lightness: 10%);
$color-success-light: adjust-color($color-success, $lightness: 20%);
$color-success-text: $color-primary-text;

$color-warning: adjust-color(#7a988e, $lightness: -10%);
$color-warning-dark: adjust-color($color-warning, $lightness: -10%);
$color-warning-darker: adjust-color($color-warning, $lightness: -5%);
$color-warning-lighter: adjust-color($color-warning, $lightness: 10%);
$color-warning-light: adjust-color($color-warning, $lightness: 20%);
$color-warning-text: $color-success-text;

$color-error: #f21012;
$color-error-dark: adjust-color($color-error, $lightness: -10%);
$color-error-darker: adjust-color($color-error, $lightness: -5%);
$color-error-lighter: adjust-color($color-error, $lightness: 10%);
$color-error-light: adjust-color($color-error, $lightness: 20%);
$color-error-text: $color-success-text;
